:root {
  --border-radius: 16px;

  --button-primary-dark: #344054;
  --button-primary-light: #444ce7;
}

:root,
html[data-theme="light"] {
  --foreground-rgb: rgb(16, 24, 40);
  --background: #d6dbdc;

  --card-rgb: #d6dbdc;
  --logo-color: #01052d;

  --button-primary-bg: var(--button-primary-dark);
  --button-foreground: var(--background);

  --input-bg: #f1f3f3;
  --focus-outline: rgb(0, 117, 250) 0px 1px 4px,
    rgb(0, 117, 250) 0px 0px 0px 3px;
}

html[data-theme="dark"] {
  --foreground-rgb: rgb(250, 250, 250);
  --background: #15131d;

  --card-rgb: #302e3f;
  --logo-color: white;

  /* --button-primary-bg: var(--button-primary-light); */
  --button-primary-bg: var(--foreground-rgb);
  --button-foreground: var(--background);

  --input-bg: #262433;
  --focus-outline: rgb(0, 117, 250) 0px 1px 4px,
    rgb(0, 117, 250) 0px 0px 0px 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: rgb(250, 250, 250);
    --background-start-rgb: #1d1d1d;
    --background-end-rgb: #1d1d1d;

    --card-rgb: #2b293a;
    --logo-color: white;

    --button-primary-bg: var(--button-primary-light);

    --input-bg: #22222; */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  text-rendering: optimizeSpeed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--foreground-rgb);
  /* background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb); */
  background: var(--background);

  transition: background 150ms;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-primary {
  padding: 1rem;
  border: none;
  color: var(--button-foreground);
  border-radius: 0.5rem;
  background: var(--button-primary-bg);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 1.25rem;
  transition: background 150ms;
}
@media (prefers-reduced-motion) {
  .btn-primary,
  body {
    transition: none;
  }
}
